In [2]:
!pwd

/content

In [1]:
import csv

stars=[]
date=[]
product_id=[]

with open('/content/drive/MyDrive/STAT 605 /amazon_reviews_us_Musical_Instruments_v1_00 2.tsv', newline='', encoding='utf-8') as tsvfile:
    tsvreader = csv.DictReader(tsvfile, delimiter='\t')

    for row in tsvreader:
        stars.append(row['star_rating'])
        date.append(row['review_date'])
        product_id.append(row['product_id'])

In [28]:
import pandas as pd
data = {'star_rating': stars, 'review_date': date,'product_id':product_id}

df = pd.DataFrame(data)

       star_rating review_date  product_id
0                3  2015-08-31  B00HH62VB6
1                5  2015-08-31  B003LRN53I
2                3  2015-08-31  B0006VMBHI
3                5  2015-08-31  B002B55TRG
4                5  2015-08-31  B00N1YPXW2
...            ...         ...         ...
904035           4  2000-01-11  B00002DDSF
904036           5  1999-12-29  B00002JV63
904037           4  1999-12-22  B00002JV63
904038           4  1999-12-17  B00002F2IZ
904039           5  1999-12-13  B00002JV63

[904040 rows x 3 columns]

In [29]:
df['review_date']

0         2015-08-31
1         2015-08-31
2         2015-08-31
3         2015-08-31
4         2015-08-31
             ...
904035    2000-01-11
904036    1999-12-29
904037    1999-12-22
904038    1999-12-17
904039    1999-12-13
Name: review_date, Length: 904040, dtype: object

In [30]:
df['review_date'] = pd.to_datetime(df['review_date'], errors='coerce')

df = df.dropna(subset=['review_date'])

In [31]:
df['star_rating'] = df['star_rating'].astype(int)

In [32]:
import pandas as pd

# Group by 'review_date', calculate the mean of 'star_rating', and count the number of reviews
daily_stats = df.groupby('review_date').agg({
    'star_rating': 'mean',  # Calculate the mean star rating
    'review_date': 'size'   # Count the number of reviews per day
}).rename(columns={'review_date': 'review_count'}).reset_index()

# Output the result
print(daily_stats)

     review_date  star_rating  review_count
0     1999-12-13     5.000000             1
1     1999-12-17     4.000000             1
2     1999-12-22     4.000000             1
3     1999-12-29     5.000000             1
4     2000-01-11     4.000000             1
...          ...          ...           ...
4553  2015-08-27     4.312326          1079
4554  2015-08-28     4.281130           779
4555  2015-08-29     4.268770           919
4556  2015-08-30     4.220023           859
4557  2015-08-31     4.297619          1008

[4558 rows x 3 columns]

In [33]:
data=daily_stats['star_rating']

In [34]:
import numpy as np

# Function to compute autocorrelation values for all lags from 1 to n-1
def autocorrelation_all_lags(X):
    n = len(X)
    X_mean = np.mean(X)
    autocorr_values = []
    for h in range(1, n):
        autocorr = np.sum((X[h:] - X_mean) * (X[:n-h] - X_mean)) / n
        autocorr_values.append(autocorr)
    return autocorr_values

# Calculate autocorrelation values for all lags from 1 to n-1
all_autocorrelations = autocorrelation_all_lags(data)